.oh-my-zsh/custom/babun.zsh-theme
.oh-my-zsh/custom/plugins/example
.oh-my-zsh/custom/example.zsh
.oh-my-zsh/custom/example.zshcache
.oh-my-zsh/cache/
.oh-my-zsh/lib/
.oh-my-zsh/log/
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.oh-my-zsh/MIT-LICENSE.txt
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/README.markdown
/.git-credential-cache
/npm-debug.log
/.zsh_history
/.z
/.zcompdump
/.zcompdump-usus-5.0.6
/.zdirs
/.zsh-update
/.vim
/a
/bin
/.local
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-Tarrasch-SLASH-zsh-bd.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-Tarrasch-SLASH-zsh-functional.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-mafredri-SLASH-zsh-async.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-sindresorhus-SLASH-pure.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-fizsh.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-autosuggestions.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-completions.git
/.antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-syntax-highlighting.git
